<div class="drawer" #drawer>
  <div class="wrapper">
    <div *ngIf="isOpen" class="closeButton">
      <ion-button  fill="clear" expand="full" (click)=setPreviewState()>
        <ion-icon name="chevron-down-outline" class="closeDrawerIcon"></ion-icon>
      </ion-button>
    </div>

    <div [ngClass]="{previewWrapper: !isOpen}" #previewWrapper>
      <ng-template drawerPreviewHost></ng-template>
    </div>
    <div class="content">
      <ng-template drawerHost></ng-template>
    </div>
  </div>
</div>
