<div class="wrapper">
  <div class="cartContent">
    <p>{{ data.drawerBodyText }}</p>
    <p>{{ data.drawerBodyText }}</p>
    <p>{{ data.drawerBodyText }}</p>
    <p>{{ data.drawerBodyText }}</p>
    <p>{{ data.drawerBodyText }}</p>
    <p>{{ data.drawerBodyText }}</p>
    <p>{{ data.drawerBodyText }}</p>
    <p>{{ data.drawerBodyText }}</p>
    <p>{{ data.drawerBodyText }}</p>
    <p>{{ data.drawerBodyText }}</p>
    <p>{{ data.drawerBodyText }}</p>
    <p>{{ data.drawerBodyText }}</p>
    <p>{{ data.drawerBodyText }}</p>
    <p>{{ data.drawerBodyText }}</p>
    <p>{{ data.drawerBodyText }}</p>
    <p>{{ data.drawerBodyText }}</p>
    <p>{{ data.drawerBodyText }}</p>
    <p>{{ data.drawerBodyText }}</p>
    <p>{{ data.drawerBodyText }}</p>
    <p>{{ data.drawerBodyText }}</p>
  </div>

  <div class="cartFooter">
    <ion-button expand="block" class="checkoutButton">
        Checkout
    </ion-button>
  </div>
</div>