<div class="wrapper">
  <div class="cartContent">
    <div *ngFor="let item of cartItems | keyvalue; let i = index">
      <p><b>{{item.value.userEmail ? item.value.userEmail : 'Guest ' + (i + 1)}}</b></p>
      <p *ngFor="let menuItem of item.value.items">{{ menuItem.title }} ({{ menuItem.price | currency }})</p>
    </div>
  </div>
  <p class="ion-padding-horizontal">Cart Total: {{ cartTotal | currency }}</p>
  <div class="cartFooter">
    <ion-button expand="block" class="checkoutButton" (click)="checkout()">
        Checkout
    </ion-button>
  </div>
</div>