:host {
  --ion-background-color: var(--ion-color-light-tint);
  .category {
    cursor: pointer;
  }
}

app-menu-item-card {
  &::ng-deep ion-item {
    border-radius: 10px;
    margin: var(--ion-spacing-small);
  }
}