<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%;">
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%">
      <ion-col class="ion-justify-content-center" size="9">
        <div>
          <a routerLink="/restaurant/HFpJCOq9mrCyvkak5fZa/3"><ion-button color="primary">Valid Restaurant</ion-button></a>
          <a routerLink="/restaurant/khfiuoaegh/3"><ion-button color="primary">Broken Restaurant</ion-button></a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
