:host {
  border-radius: 5px;
  cursor: pointer;
  --ion-background-color: white;
  .menuItemCard {
    align-items: center;
    justify-content: space-between;
  }

  .menuItemDescription {
    color: #a9b2c3;
    font-size: 12px;
  }

  .menuItemThumbnail {
    --border-radius: 8px;
  }

  .menuItemTitle {
    font-family: raleway, sans-serif;
  }
}
