<ion-item *ngIf="menuItem" [lines]="lines ? 'full' : 'none'">
  <ion-thumbnail
    *ngIf="menuItem.imageUrl"
    slot="start"
    class="menuItemThumbnail"
  >
    <img [src]="menuItem.imageUrl" alt="Menu Item Image" />
  </ion-thumbnail>
  <ion-label>
    <div class="vstack">
      <div class="hstack menuItemCard">
        <p class="menuItemTitle">{{ menuItem.title }} ({{ menuItem.price | currency }})</p>
        <ng-content></ng-content>
      </div>
      <p *ngIf="menuItem.description" class="menuItemDescription">
        {{ menuItem.description }}
      </p>
    </div>
  </ion-label>
</ion-item>
